button{
    width: 250px;
    height: 40px;
    border: none;
    color: var(--color-black);
    background-color: transparent;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover{
    transition: all 0.3s ease-in-out;
    color: var(--dark-gray);
}